@model PracticeprojectAsp.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Home" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="emp_Name" class="control-label"></label>
                <input asp-for="emp_Name" class="form-control" />
                <span asp-validation-for="emp_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emp_Age" class="control-label"></label>
                <input asp-for="emp_Age" class="form-control" />
                <span asp-validation-for="emp_Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emp_Salary" class="control-label"></label>
                <input asp-for="emp_Salary" class="form-control" />
                <span asp-validation-for="emp_Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <br />
           @*  <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="product" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <select class="form-control" asp-for="product" asp-items="@(ViewBag.product)">
                    <option value="">Select product</option>
                </select>

            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
