@model PracticeprojectAsp.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
@* //<input type="hidden" asp-for="id" /> *@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="emp_Id" />
            <div class="form-group">
                <label asp-for="emp_Name" class="control-label"></label>
                <input asp-for="emp_Name" class="form-control" />
                <span asp-validation-for="emp_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emp_Age" class="control-label"></label>
                <input asp-for="emp_Age" class="form-control" />
                <span asp-validation-for="emp_Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emp_Salary" class="control-label"></label>
                <input asp-for="emp_Salary" class="form-control" />
                <span asp-validation-for="emp_Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="product" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <select asp-for="product" asp-items="ViewBag.product">
                   <option value="">---select product----</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
